.error-message {
  color: red;
}

.loader {
  display: block;
  margin: 0 auto;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 10px solid hsl(0, 0%, 70%);
  }
  25% {
    transform: rotate(90deg);
    border-top: 10px solid hsl(0, 0%, 10%);
  }
  50% {
    transform: rotate(180deg);
    border-top: 10px solid hsl(0, 0%, 60%);
  }
  75% {
    transform: rotate(270deg);
    border-top: 10px solid hsl(0, 0%, 30%);
  }

  100% {
    transform: rotate(360deg);
    border-top: 10px solid hsl(0, 0%, 80%);
  }
}
